
.account-form-checkbox{
    font-size: 1.9rem;
}
#form-group{
    width: 40%;
}
@media ( max-width: 768px){
#form-group{
        width: 40%;
    }
.account-form-checkbox{
    font-size: 1.3rem;
}
#gender-id{
    display: flex;
    flex-direction: column;
    width: 45%;
}
}
@media ( max-width: 500px){
#form-group{
    font-size: 1.7rem;
    width: 60%;
}
.account-form input{
    border-radius: 1.3rem;
    padding: 1.5rem .8rem;
    width: 98%;
}
#gender-id{
    width: 58%;
}
}